<h2>Edit Card</h2>

<div class="form">
  <label>Title:</label>
  <input [(ngModel)]="card.title" type="text" />

  <label>Category:</label>
  <input [(ngModel)]="card.category" type="text" />

  <label>Price:</label>
  <input [(ngModel)]="card.price" type="number" />
  <label>Brand:</label>
  <input [(ngModel)]="card.brand" type="any" />
  <!-- 
  <label>Thumbnail URL:</label>
  <input [(ngModel)]="card.thumbnail" type="text" /> -->
</div>

<div class="actions">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>